
.nav-link{color: black;
font-size: 15px;}
.barra{display: flex;
justify-content: space-between;
align-content: space-between;
background-image: linear-gradient(to right, #3386FF, #33B8FF, #33E3FF )}
.menu{display: flex;
align-items: center;
justify-content: space-around;
flex: 1;
font-size: 50px;
}
.nav-link{margin: 10px;}
body{background-image: linear-gradient(to right, #3386FF, #33B8FF, #33E3FF );
font-family: 'Comic Neue', cursive;}
.titulo1{ font-weight: bold; text-decoration: underline;}
.titulo2{font-weight: bold;
margin-left: 40px;}
footer{background-image: linear-gradient(to right, #3386FF, #33B8FF, #33E3FF );
}
.taller h1 { font-size: 18px; 
text-decoration: none;
margin-top: 100px;
margin-right: 50px;
margin-left: 50px;
color: #34495E;
}
.talleres{align-items: center;
text-align: center;
}
#taller1{background: white;
margin-right: 200px;
margin-left: 200px;
}
.talleres h5 {font-size: 30px;}
.talleres p {font-size: 15px}
.card { display: grid;
 grid-template-rows: 100px;
 grid-template-columns: 300px 300px 300px;
 text-align: center;
 justify-content: center;
 margin-left: 80px;
 margin-right: 80px;
 margin-top: 40px;
 }
.bicicletas{ font-weight: bold;
 font-size: 30px; 
font-style: italic;
margin-right: 30px;
margin-left: 2px;}
#somos{display: grid;
grid-template-columns: 600px 600px;
grid-template-rows: 500px;
grid-template-areas: "texto imagen";
justify-content: center;
align-items: center;
text-align: center;}
.imagen{grid-area: imagen;}
.texto{grid-area: texto; 
	justify-self: stretch;}
.texto h1{font-size: 40px; font-style: italic; text-align: center;}
.texto h4{font-size: 20px; text-decoration: none;}
.titulo{display: flex;
  margin: 20px 100px;
  border: black 4px double;
  border-radius: 20px;
  justify-content: center;
  font-weight: bold;
	font-style: italic;
  align-items: center;
  padding-top: 7px;
font-size: 40px;
color: black;
line-height: 70px;
background-image: linear-gradient(to right, #3386FF);
text-align: left;
font-family: 'Poppins', sans-serif;
font-weight: 600;}

.container{text-align: center;
  align-content: center;}
#UNO{font-weight: bold;}

.card-text { color: black; 
border-color: black;}
.card-body .btn {color: black;
background-image: linear-gradient(to right, #3386FF, #33B8FF, #33E3FF );
}
.card-body{background-image: linear-gradient(to right, #3386FF, #33B8FF, #33E3FF );
}
.card-header{font-size: 20px;
}
.iconos {font-size: 50px}
.icon-index{font-size: 30px;
background-color: #F2F3F4;}
.card-body .btn {font-weight: bold;}
.fab{color: black;
text-decoration: none;
padding: .7rem;}
.bloque-footer{display: grid;
grid-template-rows: 20px;
grid-template-columns: 300px 300px 400px;
margin-left: 150px;
margin-right: 100px;
margin-top: 40px;
margin-bottom: 40px;
align-content: center;
grid-column-gap: 100px;
justify-content: center;
}
.store {font-size: 20px;
text-align: left;}
.social{font-size: 20px;
text-align: left;}
.pagos{font-size: 20px;
text-align: left;}
.h5{font-size: 15px;}
ul li {font-size: 12px;}

